<mat-card>
  <form [formGroup]="profileForm" (ngSubmit)="saveDialog()" autocomplete="off">
    <mat-form-field>
      <input matInput type="number" placeholder="Mínima" formControlName="pressure_min">
      <mat-label>Mínima</mat-label>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Máxima" formControlName="pressure_max">
      <mat-label>Máxima</mat-label>
    </mat-form-field>
    <p>Mean:{{mean}}</p>
    <mat-card-actions align="end">
      <button mat-button type="button" (click)="closeDialog()" i18n="@@cancelar">Cancelar</button>
      <button mat-button type="submit" [disabled]="!profileForm.valid" i18n="@@agregar">Agregar</button>
      <button mat-raised-button type="button" (click)="emit()">Calcular</button>
      <button mat-raised-button type="button" (click)="show_chart()">Mostrar gráfica</button>
    </mat-card-actions>
  </form>
</mat-card>
<p>Minima Maxima</p>
<mat-list>
@for (item of pressure(); track $index) {
  <mat-list-item>
    {{item.pressure_min}} {{item.pressure_max}}
  </mat-list-item>
  <mat-divider></mat-divider>
}
</mat-list>