<h2 mat-dialog-title i18n="@@generado_por_la_ia">Generado por la IA</h2>
<mat-dialog-content>
    <form [formGroup]="profileForm" >
        <mat-form-field   class="example-full-width"  appearance="fill">
            <mat-label i18n="@@generado_por_la_ia">Generado por la IA</mat-label>
            <textarea cols="120" rows="10" matInput formControlName="history" placeholder=""></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close i18n="@@cancelar">Cancelar</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="this.profileForm.controls.history.value" i18n="@@pasar_a_la_historia">Pasar a la historia</button>
</mat-dialog-actions>