@if (this.viewMessages===false){
<mat-card>
    <mat-card-content>
        <div class="group">
            @for (item of documents; track $index) {
            @if (item.uid !==this.authService.getUserData().uid) {
            <div class="row">
                <button mat-mini-fab matTooltip="Ver mensajes" type="button" (click)="verMensajes(item.uid)">
                    <div class="imagen-redondeada">
                        <img [src]="item.avatar" alt="">
                    </div>
                </button>
                <p style="padding-left: 20px;padding-right: 20px;">{{item.name}}</p>
            </div>
            }
            }
        </div>
    </mat-card-content>
</mat-card>
} @else {
@defer () {
<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="imagen-redondeada-fab">
                <img [src]="currentChat?.avatar" alt="">
            </div>
            <p>{{currentChat?.name}}</p>
            <button mat-icon-button type="button" (click)="verContactos()">
                <span class="material-symbols-outlined">
                    contact_page
                </span>
            </button>
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="enviar()">
            <div class="row">
            <mat-form-field class="full-width" >
                <input matInput placeholder="mensaje" formControlName="message" >
            </mat-form-field>
            <button mat-raised-button type="submit">Enviar</button>
        </div>
        </form>
    </mat-card-content>
</mat-card>
<app-view-messages [from]="from" [to]="to"></app-view-messages>
}
@loading {
<mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
}
}