<mat-card>
    <mat-card-content>
        <div class="group">
            @for (item of documents; track $index) {
            @if (item.uid !==this.authService.getUserData().uid) {
            <div class="row">
                <div class="imagen-redondeada">
                    <img [src]="item.avatar" alt="">
                </div>
                <p style="padding-left: 20px;padding-right: 20px;" >{{item.name}}</p>
                <button mat-fab (click)=(openMessages(item.id))><mat-icon>chat</mat-icon></button>
            </div>
            }
            }
        </div>
    </mat-card-content>
</mat-card>
<app-view-messages></app-view-messages>