<mat-card class="card">
    <mat-card-title>
        <span style="width: 40px;" class="material-symbols-outlined">
            prescriptions
        </span> Agregar medicamentos
    </mat-card-title>
    <form [formGroup]="profileForm" (ngSubmit)="saveDialog()">
        <mat-card-content>
            <span class="material-symbols-outlined">
                medication
            </span>
            <mat-form-field>
                <mat-label>Medicamento</mat-label>
                <input matInput formControlName="drug">
                @if (profileForm.controls.drug.hasError('required')) {
                <mat-error>Medicamento requerido</mat-error>
                }
            </mat-form-field>
            <mat-form-field style="padding-left: 10px;">
                <mat-label>Via</mat-label>
                <mat-select formControlName="type" required>
                    <mat-option value="1">Oral Píldoras</mat-option>
                    <mat-option value="2" select>Suero</mat-option>
                    <mat-option value="3">Suero con medicamento</mat-option>
                    <mat-option value="4">Inyectable</mat-option>
                    <mat-option value="5">Oral líquido</mat-option>
                </mat-select>
                @if (profileForm.controls.type.hasError('required')) {
                <mat-error>Vía requerida</mat-error>
                }
            </mat-form-field>
            @switch (profileForm.controls.type.value) {
            @case ("1") {
            <span style="padding-top: 20px;" class="material-symbols-outlined">
                pill
            </span>
            }
            @case ("2") {
            <span style="padding-top: 20px;" class="material-symbols-outlined">
                fluid
            </span>
            }
            @case ("3") {
            <span style="padding-top: 20px;" class="material-symbols-outlined">
                fluid_med
            </span>}
            @case ("4") {
            <span style="padding-top: 20px;" class="material-symbols-outlined">
                syringe
            </span>
            }
            @case ("5") {
            <span style="padding-top: 20px;" class="material-symbols-outlined">
                medication_liquid
            </span>
            }
            @default(){
            <span style="padding-top: 20px;" class="material-symbols-outlined">
                error_med
            </span>
            }
            }
            <mat-form-field style="padding-left: 10px;">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="canty">
                @if (profileForm.controls.canty.hasError('required')) {
                <mat-error>Cantidad requerida</mat-error>
                }
            </mat-form-field>
            <mat-form-field style="padding-left: 10px;">
                <mat-label>Unidades</mat-label>
                <mat-select formControlName="units" required>
                    <mat-option value="Mg">Mg</mat-option>
                    <mat-option value="Ml" select>Ml</mat-option>
                    <mat-option value="Ui">Ui</mat-option>
                </mat-select>
                @if (profileForm.controls.type.hasError('required')) {
                <mat-error>Vía requerida</mat-error>
                }
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="closeDialog()">Cancelar</button>
            <button mat-button type="submit" [disabled]="!profileForm.valid">Agregar</button>
        </mat-card-actions>
    </form>
</mat-card>