<h2 mat-dialog-title i18n="@@agregar_paciente" >Agregar paciente</h2>
<form [formGroup]="profileForm" (ngSubmit)="saveDialog()">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label i18n="@@nombre">Nombre</mat-label>
            <input matInput formControlName="firstName">
            @if (profileForm.controls.firstName.hasError('required')) {
            <mat-error i18n="@@nombre_requerido">Nombre requerido</mat-error>
            }
        </mat-form-field>
        <mat-form-field style="padding-left: 10px;">
            <mat-label i18n="@@apellido" >Apellido</mat-label>
            <input matInput formControlName="lastName">
            @if (profileForm.controls.firstName.hasError('required')) {
            <mat-error i18n="@@apellido_requerido" >Apellido requerido</mat-error>
            }
        </mat-form-field>
        <div class="row">
            <span class="material-symbols-outlined">blood_pressure</span>
            <mat-slider discrete="true" min="0" max="200">
                <input matSliderStartThumb formControlName="bloodPressureMin">
                <input matSliderEndThumb formControlName="bloodPressureMax">
            </mat-slider>
            <div class="row">
                <span class="material-symbols-outlined">
                    vital_signs
                    </span>
                <mat-slider min="0" max="200" step="1" discrete>
                    <input matSliderThumb formControlName="pulse">
                </mat-slider>
            </div>
            <span class="material-symbols-outlined">
                oxygen_saturation
                </span>
            <mat-slider min="0" max="100" step="1" discrete>
                <input matSliderThumb formControlName="oxygen">
            </mat-slider>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close (click)="closeDialog()" i18n="@@cancelar">Cancelar</button>
        <button mat-button type="submit" [disabled]="!profileForm.valid" i18n="@@agregar">Agregar</button>
    </mat-dialog-actions>
</form>