<h2 matCardTitle i18n="@@monitor_medico">Monitor médico</h2>
<mat-card>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" matSort aria-label="Elements">

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@nombre">Nombre</th>
          <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@apellido">Apellido</th>
          <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="bloodPressureMin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@minima">Mínima<span style="padding-left: 10px;"><span
                class="material-symbols-outlined" style="color: red;">blood_pressure</span></span></th>
          <td mat-cell *matCellDef="let row">{{row.bloodPressureMin}}</td>
        </ng-container>


        <ng-container matColumnDef="bloodPressureMax">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@maxima">Máxima<span style="padding-left: 10px;"><span
                class="material-symbols-outlined" style="color: red;">blood_pressure</span></span></th>
          <td mat-cell *matCellDef="let row">{{row.bloodPressureMax}}</td>
        </ng-container>

        <ng-container matColumnDef="pulse">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@pulso_col">Pulso<span style="color:red;padding-left: 10px;"
              class="material-symbols-outlined">
              monitor_heart
            </span> </th>
          <td mat-cell *matCellDef="let row">
            @if (row.pulse>90) {
            <div class="row">
              <span style="background-color: red;">
                {{row.pulse}}
              </span>
              <div style="padding-left: 4px ;padding-top: 8px;color: red; ">
                <span class="material-symbols-outlined">
                  pulse_alert
                </span>
              </div>
            </div>
            }
            @else if (row.pulse>80 && row.pulse<=90) { <span style="background-color: yellow;color:black">
              {{row.pulse}}
              </span>
              } @else {
              <span style="background-color: green;">
                {{row.pulse}}
              </span>
              }
          </td>
        </ng-container>
        <ng-container matColumnDef="oxygen">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@saturacion">Saturación<span
              style="color: red; padding-left: 10px;"><span class="material-symbols-outlined"><span
                  class="material-symbols-outlined">
                  oxygen_saturation
                </span></span></span></th>
          <td mat-cell *matCellDef="let row">{{row.oxygen}}</td>
        </ng-container>
        <ng-container matColumnDef="zoom">
          <th mat-header-cell *matHeaderCellDef>Zoom</th>
          <td mat-cell *matCellDef="let row"><button mat-icon-button
              (click)="zoom(row.id)"><mat-icon>zoom_in</mat-icon></button></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="this.close()" i18n="@@cerrar">Cerrar</button>
  </mat-card-actions>
</mat-card>