<h2 mat-dialog-title>Editando paciente</h2>
<form [formGroup]="profileForm" (ngSubmit)="saveDialog()">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <div class="row">
            <mat-slider discrete="true" min="0" max="200">
                <input matSliderStartThumb formControlName="bloodPressureMin">
                <input matSliderEndThumb formControlName="bloodPressureMax">
            </mat-slider>
            @if (this.profileForm.controls.bloodPressureMin.dirty || this.profileForm.controls.bloodPressureMax.dirty) {
                <span style="color: red;" class="material-symbols-outlined">blood_pressure</span>
            } @else {
                <span class="material-symbols-outlined">blood_pressure</span>
            }
            <div class="row">
                <mat-slider min="0" max="200" step="1" discrete>
                    <input matSliderThumb formControlName="pulse">
                </mat-slider>
                @if (this.profileForm.controls.pulse.dirty) {
                    <mat-icon color="warn">favorite</mat-icon>
                } @else {
                    <mat-icon>favorite</mat-icon>
                }
            </div>
        </div>
        <mat-tab-group>
            <mat-tab label="Medicamentos por goteo">
                <button mat-mini-fab type="button" (click)="agregarMedicamentos()"><mat-icon>add</mat-icon></button>
                <app-medicamentos [uuid]="this.uuid"></app-medicamentos>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button  (click)="closeDialog()">Cancelar</button>
        <button mat-button type="submit" [disabled]="!profileForm.valid">Cambiar</button>
    </mat-dialog-actions>
</form>