@defer () {
<mat-chip-listbox>
    @for (item of medicamentos; track item.item) {
    <mat-chip color="accent" (removed)="remove(item.id,item.name)">
        @switch (item.type) {
        @case ("1") {
        <span class="material-symbols-outlined">
            pill
        </span>
        }
        @case ("2") {
        <span class="material-symbols-outlined">
            fluid
        </span>
        }
        @case ("3") {
        <span class="material-symbols-outlined">
            fluid_med
        </span>}
        @case ("4") {
        <span class="material-symbols-outlined">
            syringe
        </span>
        }
        @case ("5") {
        <span class="material-symbols-outlined">
            medication_liquid
        </span>
        }
        }
        {{item.name}} {{item.canty}} {{item.units}} {{item.hora | date:'medium'}}
        <button matChipRemove [attr.aria-label]='"delete"'>
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-chip>
    } @empty {
    <p style="padding-left: 20px;text-align: center;">Sin medicación</p>  
  }
</mat-chip-listbox>
}
@loading {
<p>Cargando los medicamentos</p>
}